
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|ZCOOL+KuaiLe');

body {
  font-family: 'Open Sans Condensed', sans-serif;
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
  color: black;
}


#title {
  background: none;
  border: none;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;

  font-family: 'ZCOOL KuaiLe', cursive;
  font-style: italic;
  text-shadow: #000 0px 0px 1px;
  font-size: 60px;
  color: pink;
  display: block;
}

#book {

}

#bar-wrapper {
  /* display: inline-block;
  width: 50px;
  margin: auto; */
}

#progress {
  width: 50%;
  height: 20px;
  background-color: lightgrey;
  /** position: fixed; **/
  bottom: 100px;
  margin: auto;
  margin-top: 30px;

}

#bar {
  width: 1%;
  height: 20px;
  background-color: pink;
}

.thumbnail {
  background-color: pink;
  padding: 30px;
}

.smallThumbnail {
  height: 120px;
}

input {
  border-color: pink;
  width: 400px;
  height: 20px;
}

.mainText {
  color: blue;
}

.choose-button {
  display: block;
  border: 1px solid;
  margin-left: 30%;
  margin-right: 30%;
  border-color: pink;
}

.hidden {
  display: none;
}
